body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f7f7f7;
  margin: 0;
  font-family: Arial, sans-serif;
}

.calculator {
  background-color: #333;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 300px;
}

.display {
  background-color: #444;
  border: 1px solid #222;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  font-size: 1.5em;
  text-align: right;
  color: #fff;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.btn {
  background-color: #777;
  border: none;
  border-radius: 5px;
  padding: 20px;
  font-size: 1.2em;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  color: #fff;
  width: 100%; /* Make each button take up 100% width of its grid cell */
}

.btn:hover {
  background-color: #999;
}

.operator {
  background-color: #ff9500;
}

.equal {
  grid-column: span 2;
}

.zero {
  grid-column: span 2;
}

.clear {
  grid-column: span 2;
}
